.user {
  width: 1054px;
  background-image: linear-gradient(264deg, #3c3e64, #1d1e2a);
  box-shadow: 0 1px 0 0 #ffffff, 0 -1px 0 0 #ffffff;
  display: flex;
  margin:0;
  flex-direction: row;
  align-items: center;
}

.name {
  width: 189px;
  height: 28px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.text-container {
  flex-direction: column;
  justify-content: space-between;
}

.sub-text-container {
  flex-direction: row;
  justify-content: space-between;
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.avatar {
  width: 80px;
  height: 80px;
  margin: 15px;
  border: solid 2px #ffffff;
  border-radius: 50%;
}